{% extends "base.html" %}

{% block title %}Список работ{% endblock %}

{% block content %}
    <div class="d-flex align-items-center justify-content-between">
        <h2>Список работ</h2>
        <a href="{{ url_for('add_job') }}" class="d-block btn btn-primary" style="margin: 0px 30px 0px 0px">Добавить работу</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название работы</th>
                <th>Ответственный</th>
                <th>Продолжительность (часы)</th>
                <th>Список участников</th>
                <th>Завершена</th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
                <tr>
                    <td>{{ job.id }}</td>
                    <td>{{ job.job }}</td>
                    <td>{{ job.team_leader.surname }} {{ job.team_leader.name }}</td>
                    <td>{{ job.work_size }}</td>
                    <td>
                        {% for collaborator in job.collaborators %}
                            {{ collaborator.name }} {{ collaborator.surname }}
                            {% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ "Да" if job.is_finished else "Нет" }}</td>
                    <td>
                        <!-- Добавлены кнопки для редактирования и удаления -->
                        <a href="{{ url_for('edit_job', job_id=job.id) }}" class="btn btn-sm btn-primary">Редактировать</a>
                        <a href="{{ url_for('delete_job', job_id=job.id) }}" class="btn btn-sm btn-danger">Удалить</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
